#ttt-game {
    display: grid;
    max-width: 600px;
    margin: 0 auto;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 5px;
}
#ttt-game div {
    font-size: 3em;
    text-align: center;
    background: #eee;
    padding: 50px;
	border: 1px solid #555;
}
#ttt-game div.player {
    background: #c2e3ff;
}
#ttt-game div.computer {
    background: #ffebeb;
}